.searchContainer {
  position: relative;
  width: 30%; /* Ajusta esto según el ancho que desees para tu barra de búsqueda */
}


.searchBar {
    display: flex;
    align-items: center;
    background-color: #e60e0e;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
    
  }
  
  .inputField {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .searchButton {
    background-color: #aa55db; /* Color del botón */
    color: rgb(231, 221, 221);
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  
    /* Estilos opcionales para el hover */
    &:hover {
      background-color: #4b4c4e;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%; /* Esto coloca la lista justo debajo del input */
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    max-height: 300px; /* O el máximo que prefieras */
    overflow-y: auto; /* Permite scroll dentro de la lista desplegable si es necesario */
    z-index: 1000; /* Asegura que la lista desplegable esté por encima de otros elementos */
    /* ... otros estilos */
  }
  
  .dropdownItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }