.searchBar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  
  .inputField {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .searchButton {
    background-color: #007bff; /* Color del botón */
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  
    /* Estilos opcionales para el hover */
    &:hover {
      background-color: #0056b3;
    }
  }
  